[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/geribeer
[access "refs/for/refs/*"]
	read = group user/geribeer
	push = group user/geribeer
	label-Code-Review = -2..+2 group user/geribeer
	label-Verified = -1..+1 group user/geribeer
	rebase = group user/geribeer
	removeReviewer = group user/geribeer
	submit = group user/geribeer
[access "refs/heads/*"]
	read = group user/geribeer
	create = group user/geribeer
	push = +force group user/geribeer
	pushMerge = group user/geribeer
[access "refs/tags/*"]
	push = +force group user/geribeer
	pushTag = group user/geribeer
	pushSignedTag = group user/geribeer
